# Archivos y carpetas generadas automáticamente
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.log
*.db
*.pdb

# Visual Studio
.vscode/
.vs/
*.csproj.user
*.sln.docstates

# Configuraciones de build temporales
GeneratedMSBuildEditorConfig.editorconfig
*.g.cs
*.g.i.cs
*.nfloat.g.cs
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.AssemblyReference.cache
*.assets.cache
project.nuget.cache
project.assets.json
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Archivos específicos de plataformas
**/Platforms/**/Resources/*
**/Package.appxmanifest
**/app.manifest
**/Info.plist
**/Entitlements.plist
**/PrivacyInfo.xcprivacy
**/tizen-manifest.xml

# Mac y otros sistemas
.DS_Store
Thumbs.db

# Archivos personales que no deben subirse
*.env
*.secret
*.key

# Salida del compilador por plataforma
**/Debug/
**/Release/

# Otros
*.tmp
*.bak
*.old
